<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>照片</string>
			<key>icon</key>
			<string>moreShareImage.bundle/sharemore_pic</string>
		</dict>
		<dict>
			<key>name</key>
			<string>拍摄</string>
			<key>icon</key>
			<string>moreShareImage.bundle/sharemore_video</string>
		</dict>
		<dict>
			<key>name</key>
			<string>语音聊天</string>
			<key>icon</key>
			<string>moreShareImage.bundle/sharemore_videovoip</string>
		</dict>
		<dict>
			<key>name</key>
			<string>红包</string>
			<key>icon</key>
			<string>moreShareImage.bundle/MoreShare_RedPakage</string>
		</dict>
		<dict>
			<key>name</key>
			<string>转账</string>
			<key>icon</key>
			<string>moreShareImage.bundle/sharemorePay</string>
		</dict>
		<dict>
			<key>name</key>
			<string>位置</string>
			<key>icon</key>
			<string>moreShareImage.bundle/sharemore_location</string>
		</dict>
		<dict>
			<key>name</key>
			<string>收藏</string>
			<key>icon</key>
			<string>moreShareImage.bundle/sharemore_myfav</string>
		</dict>
		<dict>
			<key>name</key>
			<string>个人名片</string>
			<key>icon</key>
			<string>moreShareImage.bundle/sharemore_friendcard</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>语音输入</string>
			<key>icon</key>
			<string>moreShareImage.bundle/sharemore_voiceinput</string>
		</dict>
		<dict>
			<key>name</key>
			<string>卡卷</string>
			<key>icon</key>
			<string>moreShareImage.bundle/sharemore_wallet</string>
		</dict>
	</array>
</array>
</plist>
